html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/*
body {
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    display: -ms-flexbox;
}
    */

.fixedlayout {
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
    display: -ms-grid;
    height: 768px;
    width: 1024px;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}

.tile {
    width: 247px;
    height: 247px;
}

.double {
    width: 500px;
}

.tile.triple {
    width: 380px;
}

.tile.quadro {
    width: 510px;
}

.single {
    display: block;
    height: 500px;
    width: auto;
}

.hidden {
    display: none;
}

.stripe {
    margin-top: 100px;
    width: 100%;
    height: 560px;
    background-color: #585858;
}

.stripe ul {
    display: block;
    position: absolute;
    left: 0px;
    white-space: nowrap;
    height: 500px;
    transition: left 1s ease-in-out;
}

.stripe ul li {
    display: inline-block;
    list-style-type: none;
    padding-right: 20px;
    width: 500px;
    height: 500px;
    overflow: hidden;
    white-space: normal;
}

.stripe ul .wide {
    width: auto;
}

.fade {
   opacity: 0.5;
   /*   transition: opacity .25s ease-in-out; */
}
 
.fade:hover {
    opacity: 1;
}

.theme1 .color1 {
    background-color: #BF3030;
}

.theme1 .color2 {
    background-color: #A60000;
}

.theme2 .color1 {
    background-color: #9F3ED5;
}

.theme2 .color2 {
    background-color: #AD66D5;
}

.theme3 .color1 {
    background-color: #9FEE00;
}

.theme3 .color2 {
    background-color: #86B32D;
}

.invisible
{
    display:none;
}
.audioContainer
{
    
    left:300px;
}
.audioPlayer
{
    width:100%;
}



/** APP BAR */

.customIconsAppBar
{
    background-color:#3a00b6;
}